*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.sale{
    background-color: #DB4444;
    color: #FAFAFA;
    display: flex;
    width: 99vw;
    height: 5vh;
}
.sale a{
    color: #FAFAFA;
    margin-top: 1vw;
    margin-left: 1vh;
}
.sale p {
 margin-left: 33vw;
 margin-top:2vh ;
}
.menu{
    display: flex;
    margin-top: 4vh;
}
.menu a {
    color: black;
    margin-left:7vw;
    text-decoration: none;
}
.menu i {
    color: black;
    margin-left:7vw;
    text-decoration: none;
}
.log{
    background-color: #DB4444;
    border: none;
    width: 7vh;
    margin-left: 3vw;
    border-radius: 5px;
}
.menu input{
    margin-left: 6vh;
    border: none;
    background-color: #cecece;
}
.menu a {
    margin-left: 90px;
}
.menu a:hover {
    text-decoration: underline;
}
.a{
    margin-left: 10%;
}
.a a{
    color: black;
}
.call{
    margin-left: 5%;
    margin-top: 5vh;
}
.i{
background-color: #DB4444;
width: 3vw;
height: 6vh;
    border-radius: 50px;
}
.i i{
    font-size: 3vh;
margin: 1.5vh;
}
.calltous{
    margin-left: 8vh;
    margin-top: -4vh;
}
#p1{
    margin-top: 4vh;
}
.i2{
    background-color: #DB4444;
    width: 3vw;
    height: 6vh;
        border-radius: 50px;
}
.i2 i{
    font-size: 3vh;
margin: 1.5vh;
}
.write{
    margin-left: 5%;
    margin-top: 5vh;
}
.write p{
padding: 10px;
width: 15vw;
}
.inputs{
    margin-left: 50%;
    margin-top: -20%;
}
.inputs input{
background-color: rgb(236, 236, 236);
}
#inp4{
    margin-top: 10vh;
    height: 20vh;
    width: 40vw;
}
#inp1{
    height: 4vh;
    width: 10vw;
}
#inp2{
    height: 4vh;
    width: 10vw;
}
#inp3{
    height: 4vh;
    width: 10vw;
}
.inputs button{
    background-color: #DB4444;
    color: white;
    margin-top:1vh ;
    border: none;
    height: 7vh;
    width: 15vw;
    border-radius: 10px;
    }
    .contact{
        background-color:#DB4444;
        height: 45vh;
        display: flex;
        margin-top: 3vh;
    }
    .exclusive{
        color: #FAFAFA;
        padding: 7vh;
        margin-left: 10vh;
    }
    .exclusive input{
        background-color: #DB4444;
        border:solid #FAFAFA 1px;
        height: 4vh;
        margin-top: 2vh;
    }
    .exclusive p {
        margin-top:2vh ;
    }
    .exclusive h4 {
        margin-top:2vh ;
    }
    .exclusive i{
    margin-left: -3vh;
    font-size: 2.5vh;
    }
    .support{
        color: #FAFAFA;
    margin-top: 6.5vh; 
    
    }
    .support p {
        margin-top:2vh ;
    }
    .support h4 {
        margin-top:2vh ;
    }
    .account{
        color: white;
        margin-left: 5vh;
    }
    .account a {
        margin-top:2vh ;
        color: white;
        text-decoration: none;
        display: block;
    }
    .account h2 {
        margin-top:2vh ;
    }
    .link{
        color: white;
        margin-left: 10vh;
    }
    .link a {
        margin-top:2vh ;
        color: white;
        text-decoration: none;
        display: block;
    }
    .link h2 {
        margin-top:2vh ;
    }
    .download{
        color: white;
        margin-left: 10vh;
    }
    #img6{
    height: 12vh;
    }
    #img7{
        height: 20vh;
    }
    #img8{
        position: relative;
        top: 5vh;
        height: 18vh;
        margin-left: -20vh
    }
    .download a{
        color: white;
        /* margin-left: -2vh; */
    }
    #psp{
        color: #db8888;
        margin-top: 40vh;
        margin-left: -45%;
    }