*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sale{
    background-color: #DB4444;
    color: #FAFAFA;
    display: flex;
    width: 99vw;
    height: 5vh;
}
.sale a{
    color: #FAFAFA;
    margin-top: 1vw;
    margin-left: 1vh;
}
.sale p {
 margin-left: 33vw;
 margin-top:2vh ;
}
.menu{
    display: flex;
    margin-top: 4vh;
}
.menu a {
    margin-left:10vh;
    color: black;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
}
.main{
    display: flex;
    padding:50px ;
}
.main img{
    width: 45%;
    height: 680px;
}
.details{
    margin-top: -30%;
    margin-left: 100vh;
    padding: 50px;
    width: 40%;
}
.ul li{
    font-size: 60px;
    font-weight: bold;
}
span{
    font-weight: 300;
}