*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.sale{
    background-color: #DB4444;
    color: #FAFAFA;
    display: flex;
    width: 99vw;
    height: 5vh;
}
.sale a{
    color: #FAFAFA;
    margin-top: 1vw;
    margin-left: 1vh;
}
.sale p {
 margin-left: 33vw;
 margin-top:2vh ;
}
.menu{
    display: flex;
    margin-top: 4vh;
}
.menu a {
    color: black;
    margin-left:7vw;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
}
.shop{
    background-color: #DB4444;
    width: 3.5vw;
    margin-left: 2vw;
    border-radius: 5px;
}
.log{
    background-color: #DB4444;
    border: none;
    width: 7vh;
    margin-left: 3vw;
    border-radius: 5px;
}
.newproduct a {
    color: white;
    margin-left: 6vh;
    margin-top: 10vh;
    text-decoration: none;
}
.newproduct {
    text-decoration: none;
    color: white;
    background-color:rgb(0, 162, 255);
    width: 10vw;
    height: 5vh;
    margin-left: 7vh;
    margin-top: 5vh;
    border-radius: 10px;
}
tbody img{
    width: 100px;
    height: 80px;
}
tbody td{
    text-align: center;
    padding: 10px;
}
tbody button{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
thead tr th{
    padding: 80px;    
}