*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.sale{
    background-color: #DB4444;
    color: #FAFAFA;
    display: flex;
    width: 99vw;
    height: 5vh;
}
.sale a{
    color: #FAFAFA;
    margin-top: 1vw;
    margin-left: 1vh;
}
.sale p {
 margin-left: 33vw;
 margin-top:2vh ;
}
.menu{
    display: flex;
    margin-top: 4vh;
}
.menu a {
    color: black;
    margin-left:7vw;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
}
.shop{
    background-color: #DB4444;
    width: 3.5vw;
    margin-left: 2vw;
    border-radius: 5px;
}
.log{
    background-color: #DB4444;
    border: none;
    width: 7vh;
    margin-left: 3vw;
    border-radius: 5px;
}
.menu input{
    margin-left: 6vh;
    border: none;
    background-color: #cecece;
}
.menu a {
    margin-left: 90px;
}
.shop2{
    background-color: rgb(228, 224, 224);
    width: 20vw;
}
.shop2 h1{
margin: 8vh;
}
.search input{
    padding: 5px;
    width: 10vw;
}
.search button{
    background-color: #DB4444;
    border: none;
    border-radius: 7px;
    width: 10vh;
    height: 3vh;
    margin-left: 1vh;
}
.select{
    margin-top: -60%;
margin-left: 25%;
}
.goods{
    margin-left: 30%;
    display: flex;
}
.red{
    color: #DB4444;
}
.goods img{
    height: 30vh;
}
.goods div{
    height:50vh;
}


.goods2 img{
    height: 30vh;
}
.goods2 div{
    height:50vh;
}
.good1{
    height: 37vh;
    width: 12vw;
    margin-top: 3%;
    margin-left: -5%;
    border: solid gray 1px;
}
.good1 button{
background-color: black;
color: white;
height: 4vh;
width: 10vw;
border-radius: 15px;
}
.good2{
    height: 45vh;
    width: 15vw;
    margin-top: 3%;
    border: solid gray 1px;
}
.good2 button{
background-color: black;
color: white;
height: 4vh;
width: 10vw;
border-radius: 15px;
margin-left: 4vh;
}
 .good2 img{
    height: 35vh;
} 
.good2 .rate{
    margin-left: 4vh;
}
.good3{
    height: 45vh;
    width: 15vw;
    margin-top: 3%;
    border: solid gray 1px;
}
.good3 button{
background-color: black;
color: white;
height: 4vh;
width: 10vw;
border-radius: 15px;
margin-left: 4vh;
}
/* .good3 img{
    height: 35vh;
} */
.good3 .rate{
    margin-left: 4vh;
}
.good4{
    height: 45vh;
    width: 15vw;
    margin-top: 3%;
    border: solid gray 1px;
}
.good4 button{
background-color: black;
color: white;
height: 4vh;
width: 10vw;
border-radius: 15px;
margin-left: 4vh;
/* }
.good4 img{
    height: 35vh; */
}
.good4 .rate{
    margin-left: 4vh;
}
.goods2{
    margin-left: 30%;
    display: flex;
}
.good5{
    height: 37vh;
    width: 12vw;
    margin-top: 3%;
    margin-left: -5%;
    border: solid gray 1px;
}
.good5 button{
background-color: black;
color: white;
height: 4vh;
width: 10vw;
border-radius: 15px;
}
.good6{
    height: 45vh;
    width: 15vw;
    margin-top: 3%;
    border: solid gray 1px;
}
.good6 button{
background-color: black;
color: white;
height: 4vh;
width: 10vw;
border-radius: 15px;
margin-left: 4vh;
}
.good6 img{
    height: 35vh;
}
.good6 .rate{
    margin-left: 4vh;
}
.good7{
    height: 45vh;
    width: 15vw;
    margin-top: 3%;
    border: solid gray 1px;
}
.good7 button{
background-color: black;
color: white;
height: 4vh;
width: 10vw;
border-radius: 15px;
margin-left: 4vh;
}
.good7 img{
    height: 35vh;
}
.good7 .rate{
    margin-left: 4vh;
}
.good8{
    height: 45vh;
    width: 15vw;
    margin-top: 3%;
    border: solid gray 1px;
}
.good8 button{
background-color: black;
color: white;
height: 4vh;
width: 10vw;
border-radius: 15px;
margin-left: 4vh;
}
.good8 img{
    height: 35vh;
}
.good8 .rate{
    margin-left: 4vh;
}