*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.sale{
    background-color: #DB4444;
    color: #FAFAFA;
    display: flex;
    width: 99vw;
    height: 5vh;
}
.sale a{
    color: #FAFAFA;
    margin-top: 1vw;
    margin-left: 1vh;
}
.sale p {
 margin-left: 33vw;
 margin-top:2vh ;
}
.menu{
    display: flex;
    margin-top: 4vh;
}
.menu a {
    color: black;
    margin-left:7vw;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
}

















.contact{
    background-color:#DB4444;
    height: 45vh;
    display: flex;
    margin-top: 10vh;
}
.exclusive{
    color: #FAFAFA;
    padding: 7vh;
    margin-left: 10vh;
}
.exclusive input{
    background-color: #DB4444;
    border:solid #FAFAFA 1px;
    height: 4vh;
    margin-top: 2vh;
}
.exclusive p {
    margin-top:2vh ;
}
.exclusive h4 {
    margin-top:2vh ;
}
.exclusive i{
margin-left: -3vh;
font-size: 2.5vh;
}
.support{
    color: #FAFAFA;
margin-top: 6.5vh; 

}
.support p {
    margin-top:2vh ;
}
.support h4 {
    margin-top:2vh ;
}
.account{
    color: white;
    margin-left: 5vh;
}
.account a {
    margin-top:2vh ;
    color: white;
    text-decoration: none;
    display: block;
}
.account h2 {
    margin-top:2vh ;
}
.link{
    color: white;
    margin-left: 10vh;
}
.link a {
    margin-top:2vh ;
    color: white;
    text-decoration: none;
    display: block;
}
.link h2 {
    margin-top:2vh ;
}
.download{
    color: white;
    margin-left: 10vh;
}
#img6{
height: 12vh;
}
#img7{
    height: 20vh;

}
#img8{
position: relative;
top: 5vh;
    height: 18vh;
    margin-left: -20vh
}
.download a{
    color: white;
    /* margin-left: -2vh; */
}
#psp{
    color: #db8888;
    margin-top: 40vh;
    margin-left: -45%;
}